<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/styles.css">

    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="header-left">
            <nav class="site-title">
                <a href="/">Node.js Docs</a>
            </nav>
        </div>

        <div class="header-right">
            <search class="search-bar">
                <label for="search">⌕</label>
                <input id="search" type="search" placeholder="Search docs..." />
            </search>
        </div>
        <!-- <nav>
            <a href="/">Node.js Docs</a>
            <a href="/about">About</a>
        </nav> -->
    </header>
    