<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>

    <title>Document</title>
</head>
<body>
<div class="layout">
<header class="header">
    <div class="header-left">
        <nav class="site-title">
            <a href="/">Node.js Docs</a>
        </nav>
    </div>
    <div class="header-right">
        <search class="search-bar">
            <label for="search">⌕</label>
            <input id="search" type="search" placeholder="Search docs..." />
        </search>
    </div>
</header>